.events-list-container {
    text-align: center; 
  }
  
  .events-list-heading {
    margin-bottom: 20px; 
  }

  .events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .event-row {
    flex-basis: 100%; 
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .event-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
 